<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaxGrindSchool</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<div id="headerBackground">
<header>
    <h1>Max's Grinds School</h1>
    <div id="navBar" class="flexContainer">
      <a class="navLink" href="/"><p>Home</p></a>
      <a class="navLink" href="/package"><p>Package</p></a>
      <a class="navLink" href="/maths"><p>Maths</p></a>
      <a class="navLink" href="/irish"><p>Irish</p></a>
      <a class="navLink" href="/contact"><p>Contact</p></a>
    </div>
</header>
</div>

<body>
    
