<%- include("partials/header.ejs")  %>

<main style="width: 80%; display: flex; align-items: center; flex-direction: column;">
    <h2>2025 Schedule</h2>
    <div style="height: 300px; width: 20%; background-color: rgb(155, 84, 43);">

    </div>
</main>

<%- include("partials/footer.ejs")  %>