<%- include("partials/header.ejs")  %>

<main id="contentMain" style="width: 100%; display: flex; align-items: center; justify-content: space-between; margin-block: -55px;">

      <div id="contentLeft" style="width: 50vw; height: 100vh; display: flex; align-items: center; background-color: #f3f3f3; min-height: 400px;">
        <div class="infoCard">
          <h2>Contact Me</h2>
          <p>Any questions, please contact me at <span style="text-decoration: underline; cursor: text;">thelcbiologyguy@gmail.com</span>, thank you.</p>
        </div>
      </div>
       
        <div id="contentRight" style="width: 50vw; height: 100vh; display: flex; align-items: center; min-height: 400px;">
         <div class="infoCard">
           <h2>Alternatively</h2>
           <p>Be sure to check the <a href="https://grindsschool.onrender.com/#FAQ" style="text-decoration: none;">F.A.Q.</a> in case your question is already answered over there.</p>
         </div>
       </div>

</main>

<%- include("partials/footer.ejs")  %>