<%- include("partials/header.ejs")  %>

<main style="width: 80%; display: flex; align-items: center; flex-direction: column;">
    <h2>Contact Me</h2>
    <div class="infoCard">

    </div>
</main>

<%- include("partials/footer.ejs")  %>