<%- include("partials/header.ejs")  %>

<div style="display: flex; height: 100vh; justify-content: center; align-items: center;">
<h1> You have successfully unsubscribed from our promotions list.</h1>
</div>


<%- include("partials/footer.ejs")  %>