<%- include("partials/header.ejs")  %>

<main style="width: 80%; display: flex; align-items: center; flex-direction: column;">
    <h2>Package Deal!</h2>
    <p>€13:50</p>
    <div style="height: 400px; width: 60%; background-color: aquamarine;">

    </div>

    <form action="/api/create-checkout-session" method="POST">
      <input type="hidden" name="priceId" value="price_1QRbvGFArv9BTH3QmV9KhZQM">
      <button class="button" type="submit">Checkout</button>
    </form>
</main>

<%- include("partials/footer.ejs")  %>