<%- include("partials/header.ejs")  %>

<main style="height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h1>Success!</h1>
    <p style="max-width: 700px; text-align: center; padding-inline: 20px;">You should recieve the details for the zoom class via an email sent to the address you entered at checkout
        If you do not recieve an email after 24 hours please contact me at: <span id="email">thelcbiologyguy@gmail.com</span>, Thanks
    </p>
</main>

<%- include("partials/footer.ejs")  %>