<%- include("partials/header.ejs")  %>

<main style="height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h1>Success!</h1>
    <p style="max-width: 700px; text-align: center; padding-inline: 20px;">You should recieve the details for the zoom class via an email sent to the address you entered at checkout.
        If you do not, please contact me at: thelcbiologyguy@gmail.com
    </p>
</main>

<%- include("partials/footer.ejs")  %>