<%- include("partials/header.ejs")  %>

<main style="display: flex; height: 100vh; align-items: center; justify-content: center; flex-direction: column; width: 100%;">


  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/Coming-Soon-PNG.png" alt="Coming Soon" width="40%">
    <h1 class="display-5 fw-bold text-body-emphasis">Paid Products</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Keep posted on my socials for more updates!</p>

    </div>
  </div>

  </main>


<%- include("partials/footer.ejs")  %>