<%- include("partials/header.ejs")  %>

<main style="width: 80%; display: flex; height: 100vh; align-items: center; flex-direction: column;">

    <div class="infoCard" style="font-size: smaller!important;">
      <h1>Free Trial</h1>
      <h6>Work in progress</h6>

    <form action="/api/create-checkout-session" method="POST">
      <input type="hidden" name="priceId" value="price_1QRyq7FArv9BTH3QK0tWVgi8">
      <button class="button" type="submit">Checkout</button>
    </form>
  </div>
</main>

<%- include("partials/footer.ejs")  %>