<%- include("partials/header.ejs")  %>

<main style="width: 100%; display: flex; align-items: center; flex-direction: column;">

  <div class="px-4 pt-5 text-center border-bottom" style="background-color: white; width: 100vw; padding-top: 150px!important;">
    <h1 class="display-4 fw-bold text-body-emphasis" id="FreeResourcesTitle">Free Resources</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4" id="FreeResourcesText">Unit 1 and Cell Biology are not just foundational—they're essential. These topics appear every year on the exam and form the basis for more challenging chapters you'll encounter later. Since 2008, they’ve accounted for an impressive 33% of the overall exam marks.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <form action="/api/create-checkout-session" method="POST">
          <input type="hidden" name="priceId" value="price_1QYrU7GUne0h98JD1AF3bBlM">
            <button type="submit" class="checkout-btn-2 btn btn-primary btn-lg px-4 me-sm-3" id="FreeResourcesButton">Get Started</button>
          </form>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="/images/FreeResources.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>


  <div class="p-5 text-center">
    <div class="container py-5">
      <p class="col-lg-8 mx-auto lead" style="font-weight: 500;">
        <span style="font-size: 1.5em;">“</span> was in your free class. It was really really beneficial. you have made a huge benefit to not only me but many others I’m sure the interaction you establish through constant engagement is the perfect way to go.<span style="font-size: 1.5em;">”- Darragh, Former Student</span>
      </p>
    </div>
  </div>


  <div class=" px-4 py-5" style="background-color: white; width: 100%!important;">
    <h2 class="pb-2 border-bottom">What Do You Get?</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">Start mastering the core of your Biology exam today. Download now and take the first step toward success!</h2>
        <p class="text-body-secondary">These resources come from the free Halloween Masterclass I did in 2024. I’m now providing access to all Leaving Certificate Biology Students so they can get confident with essential chapters.</p>
        <form action="/api/create-checkout-session" method="POST">
          <input type="hidden" name="priceId" value="price_1QYrU7GUne0h98JD1AF3bBlM">
            <button type="submit" class="checkout-btn-2 btn btn-primary btn-lg px-4 me-sm-3" id="FreeResourcesButton">Get Started</button>
          </form>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3" style="width: 50px; height: 50px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Easy To Understand</h4>
            <p class="text-body-secondary">You will receive the recordings from those classes in addition to my H1 quality notes that are colourful, and to the point.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3" style="width: 50px; height: 50px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Essential Topics Covered</h4>
            <p class="text-body-secondary">Topic list: Scientific Method, Characteristics of Life, Food, Ecology, Cell Structure, Cell Diversity, and Cell Division.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3" style="width: 50px; height: 50px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Get a Head Start </h4>
            <p class="text-body-secondary">These notes and recordings will get you to an essential level in biology which will allow you to go even further, easier than ever before.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3" style="width: 50px; height: 50px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Study What's Important</h4>
            <p class="text-body-secondary">Lastly, my notes highlight any information that has been examined since 2008, allowing for more effective study.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>

<%- include("partials/footer.ejs")  %>