html{
    overflow-x: hidden!important;
    scroll-behavior: smooth!important;
}




/* width */
::-webkit-scrollbar {
    width: 10px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #dddddd;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    transition: background-color 2s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a5a5a5;
  }




body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    cursor: default;
}


/*Fonts*/
.unbounded-Font {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.syncopate-regular {
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-style: normal;
  }







.gradient-background {
    background: linear-gradient(300deg, #ffffff, #7dd4bc, #ffffff);
    background-size: 400% 500%;
    animation: gradient-animation 20s ease infinite;
  }




/*Header Styles*/
header{
    width: 102%;
    text-align: center;
    background-color: white;
    position: fixed;
    top: 0;
    padding-left: 20px;
    z-index: 100;
}

#checkout-btn{
    width: 35px; 
    color: #3c806c;
}

#cart-count{
    position: absolute;
    top: 10px;
    left: 39.5%;
    font-weight: 500!important;
    z-index: 2!important;
}

#cart-container{
    position: relative;
    margin-right: 3%; 
    transition: 0.5s transform, 0.5s color;
    cursor: pointer;
    z-index: 3!important;
}

#cart-container:hover{
    transform: scale(1.07);
    color: white;
}

.nav-link{
    color: #3c806c!important;
    transition: transform .6s!important;
}
.nav-link:hover{
    transform: scale(1.2);
}

.img{
    transition: transform 0.3s ease;
}

.img:hover{
    transform: rotate(20deg);
}

#title{
    font-size: 1.8em!important;
    text-decoration: underline;
    color: #3c806c;
    transition: transform 1s, color 1s;
}
#title:hover{
    color: #51a890;
    transform:translateX(20px);
}

.button-active{
    color: #3d3d3d!important;
    transition: transform .6s!important;
}
.button-active:hover{
    transform: scale(1.2);
}


/*Home Styles*/
main{
   padding: 0!important;
}

#homeImg{
    transform: translateX(600px);
    opacity: 0;
    animation-name: fromTheSide;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.homeImgAnimation{
    animation-name: fromTheSide;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

#Welcome{
    opacity: 0%;
    animation: pop-in 1s ease-in-out 1s forwards;
    transform: scale(0);
    margin-right: 10px;
}

#to{
    opacity: 0%;
    animation: pop-in 1s ease-in-out 1.25s forwards;
    transform: scale(0);
    margin-right: 10px;
}

#the{
    opacity: 0%;
    animation: pop-in 1s ease-in-out 1.5s forwards;
    transform: scale(0);
    margin-right: 10px;
}

#best{
    opacity: 0%;
    animation: pop-in 1s ease-in-out 1.75s forwards;
    transform: scale(0);
    margin-right: 10px;
}

#LCbiology{
    opacity: 0%;
    animation: pop-in 1s ease-in-out 2s forwards;
    transform: scale(0);
    margin-right: 10px;
}

#Grinds{
    opacity: 0%;
    animation: pop-in 1s ease-in-out 2.25s forwards;
    transform: scale(0);
    margin-right: 10px;
}

#School{
    opacity: 0%;
    animation: pop-in 1s ease-in-out 2.5s forwards;
    transform: scale(0);
}

.hero-text{
    opacity: 0%;
    animation: fade-in 1s ease-in-out 2.75s forwards;
}

#LearnMore{
    opacity: 0%;
    transition: background-color .5s;
    animation: fade-in 1s ease-in-out 3.5s forwards;
}

#LearnMore:hover{
    background-color: #3c806c!important;
}

#FreeTrial{
    opacity: 0%;
    transition: background-color .5s, color .5s;
    animation: fade-in 1s ease-in-out 4.5s forwards;
}

#FreeTrial:hover{
    background-color: #51a890!important;
    color: white;
}

#hanging-icons{
    background-color: white;
    margin: 0;
    max-width: none;
}

.icon{
    height: 50px;
    width: 50px;
    background-color: white;
    color: #3c806c;
}

.feature{
    color: #3c806c!important;
}

.jumbotron{
    width: 100vw!important;
    background: linear-gradient(0deg, #3c806c, #acd8cb, #ffffff);
    background-size: 140% 140%;
}

.video{
    display: flex;
    justify-content: center;
    width: 350px!important;
    border-radius: 20px!important;
}


#testimonial-tab{
    font-size: larger;
    min-height: 400px;
    width: 100%;
    background-size: cover;
    border-top: 2px solid #3c806c;
    border-bottom: 2px solid #3c806c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#testimonial-picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#new-tab{
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #5fbb9f, #e7eceb, #ffffff);
    background-size: 140% 140%;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgb(102, 102, 102); /* Or any color to make the icon visible */
    border-radius: 50%;
    padding: 20px;
    z-index: 5;
  }



/*lesson/trial pages*/

#popup{
    z-index: 200!important;
    max-width: 500px;
    min-width: 280px!important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -50%); /* Adjust to truly center it */
    margin-right: 10px!important;
}

.closingAnimation{
    animation: fade-out 0.5s ease-in-out forwards;
}

.infoCard{
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 1.5em;
    text-align: center;
    max-width: 500px;
}

.product-title{
    color: #3c806c!important;
}


.checkout-btn{
    border: none!important;
    transition: background-color 1s!important;
}

.checkout-btn:hover{
    background-color: #51a890!important;
}

.checkout-btn-2{
    border: none!important;
    transition: color 1s, background-color 1s!important;
}

.checkout-btn-2:hover{
    background-color: #ffffff!important;
    color: #3d3d3d!important;
}

.buttonGreen:hover{
    background-color: #3c806c!important;
}

.buttonFree:hover{
    background-color: #3c806c!important;
    color: white!important;
}

#star1{
    animation: popInfinite 3s ease-in-out infinite;
}

#star2{
    animation: popInfinite 3s ease-in-out 1s infinite;
}

.urgencyText{
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-block: 5px;
    width: 100%;
    min-height: 45px!important;
    background-color: rgb(224, 54, 54)!important;
}

#urgencyText{
    display: flex;
    justify-content: center;
    align-items: center!important;
    padding: 0px;
    margin: 0px;
    height: 45px;
}


.productCardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Ensures everything is centered */
    padding: 20px; /* Adds spacing */
}

.productCardRow {
    display: flex;
    justify-content: center; /* Centers rows */
    gap: 40px; /* Adds spacing between cards */
    padding-block: 20px;
    flex-wrap: wrap; /* Ensures responsiveness */
    width: 100%;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: start; /* Centers content in each card */
    justify-content: space-between;
    background-color: #f9f9f9; /* Light background for contrast */
    padding: 20px;
    border-radius: 10px; /* Smooth corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow */
    width: 45%; /* Adjust width for responsiveness */
    max-width: 300px; /* Prevents oversized cards */
}

.add-to-cart-btn, .remove-from-cart-btn{
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.remove-from-cart-btn{
    margin-top: 10px;
}



#FreeResourcesText{
    opacity: 0;
    animation: fade-in 1s ease-in-out 1.2s forwards;
}

#FreeResourcesTitle{
    opacity: 0;
    transform: translateX(600px);
    animation-name: fromTheSide;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
}

#FreeResourcesButton{
    opacity: 0;
    transform: translateX(-600px);
    animation-name: fromTheSide;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
}


/*Misc*/
.divider{
    width: 100%;
    height: 3px;
    background-color: #3c806c;
}


/*Footer Styles*/
footer{
    background-color: white;
}


/*Opacity Values for fade in animations*/
.box{
    opacity: 0;
    transform: translateY(100px);
}

/*Animation Classes*/
.fadeFromBottom{
    animation: fadeFromBottom 1s ease-in-out 0.2s forwards!important;
}

.fadeFromBottom2{
    animation: fadeFromBottom 1s ease-in-out 0.4s forwards!important;
}

.fadeFromBottom3{
    animation: fadeFromBottom 1s ease-in-out 0.6s forwards!important;
}

.fadeFromBottom4{
    animation: fadeFromBottom 1s ease-in-out 0.2s forwards!important;
}

.fadeFromBottom5{
    animation: fadeFromBottom 1s ease-in-out 0.2s forwards!important;
}

.fadeIn{
    animation: fade-in 1s ease-in-out 0.2s forwards!important;
}

.cart-bounce{
    animation: cart-bounce 0.8s ease-in-out!important;
}

/*Media Querys*/

@media (min-width: 1401px) {
    #notebook {
        max-width: 240px;
        top: 150px;
        right: 40px;
    }

    #worksheets {
        max-width: 200px;
        top: 100px;
        left: 90px;
    }
}

@media (max-width: 1400px) {
    #phoneMock {
        right: 270px !important;
    }

    #notebook {
        right: 10px;
        width: 240px;
        top: 150px;
    }

    #worksheets {
        left: 60px;
        width: 200px;
        top: 100px;
    }
}

@media (max-width: 1200px) {
    #phoneMock {
        right: 20px !important;
    }

    #notebook {
        right: 0px;
        width: 160px;
        top: 130px;
    }

    #worksheets {
        left: 40px;
        width: 140px;
    }
}

@media (max-width: 992px) {
    .video1,
    .video3,
    .finger-down,
    #phoneMock {
        display: none !important;
    }

    #lessons-photo {
        width: 100%;
    }

    #contentMain {
        flex-direction: column;
    }

    #contentRight {
        width: 100% !important;
    }

    #contentLeft {
        width: 100% !important;
        margin-top: -100px;
    }

    #notebook {
        right: 40px;
        width: 240px;
        top: 160px;
    }

    #worksheets {
        top: 120px;
        left: 90px;
        width: 200px;
    }
}

@media (max-width: 768px) {
    #notebook {
        right: 40px;
        width: 160px;
        top: 135px;
    }

    #worksheets {
        top: 120px;
        left: 90px;
        width: 120px;
    }

    .productCardRow {
        flex-direction: column;
        align-items: center;
    }
    .productCard {
        width: 80%; /* Adjust for smaller screens */
    }
}

@media (max-width: 576px) {
    body {
        margin-top: 100px !important;
    }

    #testimonial-text {
        width: 300px;
    }

    #title {
        font-size: 1.5em !important;
    }

    .img {
        width: 45px;
        height: 45px !important;
        margin-inline: 10px !important;
    }

    .nav-item {
        height: 35px;
    }

    #testimonial-picture {
        display: none;
    }

    #LogoTitle {
        margin-right: 50px;
    }

    .secondary-disapear {
        display: none !important;
    }

    .product-title {
        font-size: 2em !important;
    }

    #notebook {
        right: 40px;
        width: 160px;
        top: 130px;
    }

    #worksheets {
        top: 120px;
        left: 90px;
        width: 120px;
    }
}

@media (max-width: 490px) {
    #notebook {
        right: 30px;
        width: 120px;
        top: 90px;
    }

    #worksheets {
        top: 80px;
        left: 70px;
        width: 90px;
    }
}


@media (max-width: 399px) {
    #LogoTitle {
        font-size: 0.8em !important;
    }


    #navbar {
        font-size: 0.9em;
        margin-bottom: -10px !important;
    }
}

@media (max-width: 370px) {
    #notebook {
        right: 30px;
        width: 100px;
        top: 60px;
    }

    #worksheets {
        top: 60px;
        left: 65px;
        width: 70px;
    }
}



/*Animations*/

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes fromTheSide {

    0%{
        opacity: 0%;

    }

    100%{
        transform: translateX(0px);
        opacity: 100%;

    }
    
   }

 @keyframes pop-in {
    0% {
        transform: scale(0);
        opacity: 0%;
    }
    75% {
        transform: scale(1.1);
        opacity: 75%;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}

@keyframes fade-in {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
    
}

@keyframes fade-out {
    0%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
        display: none;
    }
}

@keyframes popInfinite {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes fadeFromBottom{
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes cart-bounce{
    0%{
        rotate: 0deg;
        color: white;
    }

    50%{
        color: white;
    }

    100%{
        rotate: 360deg;
        color: black;
    }
}

@keyframes cart-bounce1{
    0%{
        rotate: 0deg;
    }

    50%{
        rotate: 720deg;
    }

    100%{
        rotate: 360deg;
        color: black;
    }
}

@keyframes cart-bounce2{
    0%{
        scale: 1;
    }

    50%{
        scale: 1.2;
    }

    100%{
        scale: 1;
    }
}
